body{
    font-family: Arial, 宋体;
    text-align:center;
    font-size:small;
}
#juryCenter{
    position:relative;
    border:solid 1px #36c;
    width:700px;
    padding:10px;
    background-color:#e5ecf9;
    margin:0 auto;
    margin-top:10px;
}
#moduleName{
    font-size:larger;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:15px;
}
#welcome{
    text-align:left;
}
#status{
    border:solid 1px red;
    background-color:#ffa;
    padding:5px;
    margin:5px;
}
#statusLunci{
    font-weight:bold;
    display:inline;
}
#message{
    color:Red;
    font-weight:bold;
}
#tip{
    text-align:left;
    color:Red;
}
#logoutbox{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 28px;
    height: 18px;
}
table{
    margin:0 auto;
    border-top:solid 1px #36c;
    border-left:solid 1px #36c;
}
#juryboxhead{
    background:#36c;
    color:White;
    font-weight:bold;
}
td{
    border-bottom:solid 1px #36c;
    border-right:solid 1px #36c;
    padding:3px 5px;
}
#jurydiv{
    overflow:auto;
    height:330px;
}
#host{
    text-align:right;
    width:700px;
    margin:0 auto;
    margin-top:10px;
    color:#36c;
    font-size:smaller;
}
#systemName{
    font-weight:bold;
    font-size:larger;
    padding:5px;
    color:#36c;
    margin-top:5px;
}
.inputscore{
    border:solid 1px #aaa;
    width:50px;
}
#submit{
    border-top:solid 0px #36c;
    border-top:solid 0px #36c;
    border-bottom:solid 2px #339;
    border-right:solid 2px #339;
    background-color:#36c;
    color:White;
}