body{
    font-family: Arial, 宋体;
    text-align:center;
    font-size:small;
    background-color:#e5ecf9;
}
#showCenter{
    position:relative;
    width:98%;
    padding:10px;
    margin:0 auto;
    margin-top:10px;
}
#systemName{
    width:98%;
    font-weight:bold;
    font-size:xx-large;
    padding:10px;
    margin:0 auto;
    margin-top:10%;
    color:#36c;
}
#LunciName{
    font-size:xx-large;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:15px;
    display:none;
}
#statusdiv{
    border:solid 1px red;
    background-color:#ffa;
    padding:5px;
    font-size:x-large;
    margin:5px;
    display:none;
}
#currentHuanjie{
    font-weight:bold;
    font-size:xx-large;
    color:Red;
}
span{
    color:Red;
    font-weight:bold;
    font-size:x-large;
}
table{
    margin:0 auto;
    border:solid 0px #a6c9e2;
    text-align:left;
}
#scoreShower table{
    display:inline;
    font-size:45px;
    border:solid 1px #a6c9e2;
    padding:0;
}
#message{
    position:absolute;
    left:1%;
    top:400px;
    border:solid 1px red;
    background-color:#ffa;
    padding:5px 50px;
    display:none;
}
td{
    border:solid 0px #a6c9e2;
    padding:3px 5px;
}
#scoreShower td{
    border:solid 1px #a6c9e2;
}
#timer{
    display:none;
}
#timer span{
    font-size:70px;    
}
strong{
    font-size:xx-large;
    color:Black;
}
.hostfirst{
    text-align:center;
    margin:0 auto;
    width:98%;
    font-size:x-large;
    color:#36c;
    font-weight:bold;
    margin-top:25%;
}
.hostend{
    position:absolute;
    right:3%;
    bottom:3%;
    text-align:right;
    width:98%;
    margin:0 auto;
    margin-top:10px;
    color:#36c;
    font-size:medium;
    font-weight:bold;
}
#regulation{
    color:Red;
    font-size:x-large;
    width:85%;
    margin:0 auto;
    margin-top:20px;
}
